.contacts {
  @include section-width;

  &__title {
    margin: 0 0 48px;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;

    @include on-tablet {
      font-size: 48px;
      line-height: 100%;
    }

    @include on-desktop {
      font-weight: 600;
    }
  }

  &__content {
    @include grid-columns(1, 6, 12);

    align-items: start;
    gap: 32px 20px;

    @include on-tablet {
      column-gap: 24px;
    }
  }

  &__form {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: 1 / 6;
    }
  }

  &__info {
    grid-column: 1 / -1;
    display: grid;
    row-gap: 24px;
    align-self: start;
    align-content: start;

    @include on-tablet {
      grid-column: 4 / 6;
    }

    @include on-desktop {
      grid-column: 8 / 11;
    }
  }

  &__field {
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 40px;
    outline: none;
    padding: 14px 16px;
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;

    &::placeholder {
      color: $grey;
      font-family: Poppins, sans-serif;
      line-height: 20px;
    }

    &:hover::placeholder {
      color: #292929;
    }

    &--textarea {
      height: 148px;
      border-radius: 16px;
      resize: none;
    }
  }

  &__item {
    display: grid;
    row-gap: 8px;
  }

  &__label {
    margin: 0;
    font-weight: 400;
    line-height: 140%;
  }

  &__value {
    margin: 0;
    font-weight: 500;
    line-height: 140%;
    text-decoration: none;
    color: #fff;
    transition: color $effectDuration ease;

    &:hover {
      color: $grey;
      cursor: pointer;
    }
  }

  &__button {
    @include white-button;
  }
}
