.icon {
  display: block;
  height: 24px;
  width: 24px;
}

.icon--phone {
  background-image: url(../../icons/Icon_Phone.png);
}

.icon--menu {
  background-image: url(../../icons/Icon-Burger-menu.png);
}

.icon--close {
  background-image: url(../../icons/Icon-Close.png);
}

.logo {
  height: 38px;
  width: auto;
  display: block;
}
