@import 'variables';
@import 'mixin';
@import 'icons';
@import 'nav';
@import 'menu';
@import 'top-bar';
@import 'page';
@import 'header';
@import 'section-title';
@import 'product';
@import 'details';
@import 'contacts-content';
@import 'footer';

.main {
  &__content {
    display: grid;
    row-gap: 96px;
    padding-block: 96px;

    @include on-tablet {
      row-gap: 120px;
      padding-block: 120px;
    }
  }
}
