@import 'variables';
@import 'mixin';
@import 'page';
@import 'icons';
@import 'nav';
@import 'menu';
@import 'top-bar';
@import 'header';
@import 'section-title';
@import 'move-free';
@import 'product';
@import 'details';
@import 'category';
@import 'contacts-content';
@import 'footer';

.main {
  display: grid;
  row-gap: 92px;
  padding-block: 92px;
  position: relative;
  z-index: 1;
  background-color: $dark;

  @include on-tablet {
    row-gap: 120px;
    padding-block: 120px;
  }
}
