.page {
  font-family: Poppins, sans-serif;
  color: #fff;
  background-color: $dark;
  scroll-behavior: smooth;

  &:has(.page__menu:target) {
    overflow: hidden;
  }
}

.page__body {
  margin: 0;
  min-width: 320px;
}

.page__menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  opacity: 0;
  transition: all $effectDuration;
  transform: translate(-100%);
  pointer-events: none;

  &:target {
    opacity: 1;
    transform: translate(0);
    pointer-events: all;
  }
}
