.compare-bikes {
  margin: 0 auto;

  @include section-width;

  &__products {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      justify-items: center;
    }

    @include on-desktop {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 24px;
      justify-items: stretch;
    }
  }
}

.product {
  &__photo {
    display: block;
    width: 100%;
    transition: transform $effectDuration ease;
  }

  &__link {
    display: block;
    overflow: hidden;

    &:hover .product__photo {
      transform: scale(1.05);
    }
  }
}
