.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-block: 24px;

  @include side-padding;

  @include on-tablet {
    padding-block: 36px;
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__phone-number {
    display: none;

    @include on-desktop {
      display: block;
      opacity: 0;
      pointer-events: none;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 2px;
      text-transform: uppercase;
      transition: opacity $effectDuration ease;
    }
  }

  &__phone-link {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #fff;
    text-decoration: none;

    &:hover .top-bar__phone-number {
      @include on-desktop {
        opacity: 1;
      }
    }
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 38px;
    transition: transform $effectDuration;

    &:hover {
      transform: scale(1.05);
    }

    @include on-tablet {
      height: 56px;
    }
  }
}
